body{
    margin-right: 150px;
    margin-left: 150px;
    background-color: rgb(226, 221, 219);
}
.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.hero p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.button1{
    background-color: white;
    font-size: 12px;
    padding: 14px 30px;
    border-radius: 10rem;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.19);

}
.button2{
    background-color: white;
    font-size: 12px;
    padding: 14px 30px;
    border-radius: 10rem;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.19);  
}
.grey{
    background-color: #a8A19E;
    
}
.yellow2{
    background-color:  #f9b131;
}
.blue{
    background-color: #C6DDE9;
    background-image: url("../images/family.png");
    background-size: 55%;
    background-position: bottom right;
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; 
    text-align: center;

}
.red{
    background-color: #f07949;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.yellow{
    background-color: #f9b131;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
h2{
    font-size: 40px;
    color: white; 
}
h1{
    font-size: 40px;
    color: white;  
    }

.blue h1{
    font-size: 40px;
    
}
.blue p{
    margin-left: 100px;
    margin-right: 100px;
}
.grey h1{
    color: white;
}
.white {
    color: white;
}
ul{
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    

}
ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;  
    color: #a8A19E;
}
a{
    text-decoration: none;
}
.home{
    color: black; 
}
.greytop{
    height: 700px; 

}
.grey{
    height: 100vh;
    grid-template-columns: 50% 50%;
    display: grid;

}
.greyleft {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    
    
}
.greyright{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    
    
}

.grey p{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.yellow2{
    height: 700px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.yellow3 p{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 300px;
    margin-right: 300px;

}
.blocks{
    height: 100vh;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.how {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1; 
    grid-column-end: 2;
    background-color: #C6DDE9;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.answer{
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    position: relative;
}
.choose{
    background-color: rgb(226, 221, 219);
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    
}
.questions{
    text-align: center;  
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    position: relative;
}
.wait {
    background-color: #f07949;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    
}
.done {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    position: relative;

}
.blocks h3{
    margin: 0;
    position: absolute;
    left: 10px;
    top: 10px; 
}
.how h1{
    color: black;
}
.scrollup{
    background-color: rgb(216, 210, 207);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
    
}
.scrollup p{
    margin: 0;
    size: 30px;
}
footer{
    background-color: #a8A19E;
    height: 200px;
    margin: 0;
}


.cardcontainer{
    top: -180px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 0px;

}
.card{
    background-color: white;
    width: 300px;
    text-align: center;
    position: relative;
    border-radius: 0.5rem;
    margin: 20px;

}
.card div{
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    top: -30px;
    margin: auto;
    border-radius: 0.5rem;

}
img{
    width: 200px;
    margin-top: 0.5rem;
    
}
.childcontainer img{
    background-color: #C6DDE9;
    border-radius: 0.5rem;
    overflow: hidden;
    
}
.adultcontainer img{
    background-color: #f9b131;
    border-radius: 0.5rem;
    overflow: hidden;
}
.oldcontainer img{
    background-color: #f07949;
    border-radius: 0.5rem;
}
